{% extends "design.html" %}
{% block title %}
Тихое место
{% endblock %}
{% block content %}
<div align = "center" style="position: absolute; top: 200px; left: 600px;">
    <br><br>
    <a href = '/'>Вернуться в главное меню</a> <br><br>
</div>
<center><h2>Добавить услугу:</h2>
<form action="" method="post" style="font: 26px Plainot; position: absolute; top: 180px; left: 130px;">
  <input type="text" placeholder="Код книги" name="id_b">
  <input type="text" placeholder="Название" name="name">
  <input type="text" placeholder="Автор" name="author">
  <input type="text" placeholder="Жанр" name="genre">
  <input type="submit" value="Добавить">
</form></center>
{% endblock %}
